<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/397b00c9d6.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="lessons.js"></script>
    <!-- google fonts link -->
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- local style -->
    <link rel="stylesheet" href="style.css">
    <title>Coursework 1</title>
</head>

<body>
    <!--vue app -->
    <div id="app">
        <!-- navbar -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" v-if="showLessons">Lesson Store</span>
            <span class="navbar-brand mb-0 h1" v-else-if="!showLessons" v-on:click="showCart" style="cursor:pointer">Lesson Store</span>
            <!-- cart button -->
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="showCart" v-if="cartIsNotEmpty() &&showLessons">cart</button>
        </nav>

        <main>
            <!-- lessons page -->
            <div v-if="showLessons">
                <!-- sorting functionality -->
                <section class="sort">
                    <p>Sort by:</p>
                    <div class="label">
                      <label for="subject">
                        Subject
                        <input type="radio" name="subject" value="subject" v-model="sortType">
                      </label>
                    </div>
                    <div class="label">
                            <label for="location">
                                Location
                                <input type="radio" name="location" value="location" id="" v-model="sortType">
                            </label>
                        </div>    
                        <div class="label">
                            <label for="price">
                                Price 
                                <input type="radio" name="price" value="price" id="" v-model="sortType">
                            </label>    
                        </div>
                        <div class="label">
                            <label for="spaces">
                                Spaces
                                <input type="radio" name="spaces" value="spaces" id="" v-model="sortType">
                            </label>    
                        </div>
                        <br>
                        <label for="ascending">
                            Ascending Order
                            <input type="radio" name="ascending" value="ascending" v-model="sortBy">
                        </label>
                        <label for="descending">
                            Descending Order
                            <input type="radio" name="descending" value="descending" v-model="sortBy">
                        </label>
                </section>
                <!-- lessons container -->
                <div class="container">
                    <div class="row">
                        <!-- lessons list -->
                        <div class="lessons col" v-for="lesson in sortedLessons">
                            <div class="card" style="width: 18rem;">
                                <!-- lesson image -->
                                <img v-bind:src="lesson.image" alt="lesson image" class="card-img-top">
                                <div class="card-body">
                                    <!-- lesson description -->
                                    <h1 class="card-title">Subject : {{lesson.subject}}</h1>
                                    <h1>Location : {{lesson.location}}</h1>
                                    <h1>Price : £{{lesson.price}}</h1>
                                    <h1>Spaces : {{lesson.spaces}}</h1>
                                    <!-- add to cart button -->
                                    <button class="btn btn-primary" v-on:click="addToCart(lesson) "
                                        v-if="canAddToCart(lesson)">Add to cart</button>
                                    <!-- disabled button that shows when space is 0 -->
                                    <button class="btn btn-primary" disabled="disabled" v-else>Add to cart</button>
                                    <br>
                                    <!-- space information  countdown -->
                                    <span class="spaces-left" v-if="lesson.spaces === cartCount(lesson.id)">All out!</span>
                                    <span class="spaces-left" v-else-if="lesson.spaces - cartCount(lesson.id) <=5">Only
                                        {{lesson.spaces - cartCount(lesson.id)}} spaces
                                        left !</span>
                                    <span v-else>Buy now!</span>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- shopping cart page -->
            <div v-else>
                <h1 class="cart-header">Shopping Cart</h1>
                <!-- cart container -->
                <div class="container">
                    <div class="row">
                        <!-- cart items list -->
                        <div v-for="(cartItem,index) in cart" class="lessons">
                            <div class="card" style="width: 18rem;">
                                <img v-bind:src="cartItem.image" alt="lesson image" class="card-img-top">
                                <div class="card-body">
                                    <h1 class="card-title">Subject : {{cartItem.subject}}</h1>
                                    <h1>Location : {{cartItem.location}}</h1>
                                    <h1>Price : £{{cartItem.price}}</h1>
                                    <h1>Spaces : {{cartItem.spaces}}</h1>
                                    <!-- remove from cart button -->
                                    <button type="button" class="btn btn-danger"
                                        v-on:click="removeItem(cartItem)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-page">
                    <h1>Checkout</h1>
                    <!-- checkout form -->
                    <form>
                        <input type="text " required v-model="checkout.name" v-on:keypress="isLetter($event)">
                        <input type="number" required v-model="checkout.phone">
                        <button v-on:click="submitOrder()" v-if="validOrder()" class="btn btn-success">Checkout</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                lessons: lessons,
                sortType: "",
                sortBy: "",
                showLessons: true,
                cartButton: "cart",
                cart: [],
                checkout: {
                    name: "",
                    phone: ""
                }
            },
            methods: {
                addToCart(lesson) {

                    this.cart.push(lesson);
                },
                canAddToCart(lesson) {
                    return lesson.spaces > this.cartCount(lesson.id);
                },
                cartIsNotEmpty() {
                    return this.cart.length > 0;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i].id === id) {
                            count++
                        }
                    }
                    return count;
                },
                showCart() {
                    this.showLessons = this.showLessons ? false : true
                    if(showLessons){
                        this.cartButton = this.cartButton ?"Lessons":"cart";
                    }
                },
                removeItem(index) {
                    this.cart.splice(index, 1);
                },
                isLetter(event) {
                    let char = String.fromCharCode(event.keyCode); // Get the character
                    if (/^[A-Za-z*\s]+$/.test(char)){
                        return true; // Match with regex 
                    }
                    else event.preventDefault(); // If not match, don't add to input text
                },
                submitOrder() {
                    alert("Order Submitted!");
                },
                validOrder() {
                    return this.checkout.name && this.checkout.phone
                }
            },
            computed: {
                sortedLessons() {
                    let lessonsArray = this.lessons.slice(0);
                    let sortValue = this.sortType;
                    let sortBy = this.sortBy;
                    function compare(a, b) {
                        if (sortBy == "ascending") {
                            if (a[sortValue] > b[sortValue])
                                return 1;
                            if (a[sortValue] < b[sortValue])
                                return -1;
                            return 0;
                        }
                        else if (sortBy == "descending") {
                            if (a[sortValue] < b[sortValue])
                                return 1;
                            if (a[sortValue] > b[sortValue])
                                return -1;
                            return 0;
                        }
                    }
                    return lessonsArray.sort(compare);
                }
            },

        })
    </script>
    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
        <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>